<script lang="ts">
	import type { imageTypes } from '$ciphers/lookups/images';

	import { translateOptions, translateTable } from '$ciphers/lookups/images';
	import Textarea from '$utilComs/inputs/textarea.svelte';

	import Select from '$utilInputs/select.svelte';
	import SolverBase from '../solverBase.svelte';

	let cipherText = '';
	let imageKind: imageTypes = 'dk-frimur';
	let solutionImages: Array<{ content: string | null; letter: string }>;

	$: solutionImages = cipherText
		.toLowerCase()
		.split('')
		.map((letter) => {
			if (letter in translateTable[imageKind].translations) {
				return { content: translateTable[imageKind].translations[letter], letter };
			} else {
				return { content: null, letter };
			}
		});
</script>

<SolverBase {cipherText} clearText="">
	<svelte:fragment slot="input">
		<Select bind:value={imageKind} options={translateOptions} />

		<Textarea
			bind:value={cipherText}
			title="The ciphertext to decode"
			placeholder="Insert ciphertext here"
		/>
	</svelte:fragment>

	<section slot="output" class="flex flex-wrap output">
		{#each solutionImages as image}
			{#if image.content}
				<img
					class="answer"
					src="image-ciphers/{translateTable[imageKind].path}/{image.content}"
					alt={image.letter}
				/>
			{:else}
				<span class:w-20={(image.letter = ' ')} class="answer">{image.letter}</span>
			{/if}
		{/each}
	</section>
</SolverBase>

<style lang="postcss">
	section.output {
		img.answer {
			@apply object-contain h-12 min-w-[1.5rem] mr-2;
		}
		span.answer {
			@apply inline-block h-12 text-5xl align-top;
		}

		*.answer {
			@apply mb-4;
		}
	}
</style>
