<script lang="ts">
	import SolverBase from '../solverBase.svelte';

	import { solveMorse } from '$ciphers/morse';
	import { morseToLetter, letterToMorse } from '$ciphers/lookups/morse';
	import Textarea from '$utilComs/inputs/textarea.svelte';
	import Switch from '$utilComs/inputs/switch.svelte';

	let dotType = '.';
	let dashType = '-';
	let delimiter = '/';
	let notRecognized = '?';

	let decode = false;

	let cipherText = '';
	$: solution = decode
		? solveMorse(
				cipherText.replaceAll(dotType, '.').replaceAll(dashType, '-'),
				morseToLetter,
				delimiter,
				'',
				notRecognized
		  )
		: solveMorse(cipherText, letterToMorse, '', delimiter)
				.replaceAll('.', dotType)
				.replaceAll('-', dashType);
</script>

<SolverBase {cipherText} clearText={solution}>
	<svelte:fragment slot="input">
		<Textarea bind:value={dotType} title="String used as value instead of dot" type="text" />
		<Textarea bind:value={dashType} title="String used as value instead of dash" type="text" />
		<Textarea bind:value={delimiter} title="String used as delimiter" type="text" />
		<Textarea bind:value={notRecognized} title="String for unrecognizable morse" type="text" />

		<Textarea
			bind:value={cipherText}
			title="The {decode ? 'cipher ' : ''}text to {decode ? 'decode' : 'encode'}"
			placeholder="Insert {decode ? 'cipher ' : ''}text here"
		/>

		<Switch bind:checked={decode} title="{decode ? 'Decode' : 'Encode'} morse" size="xl">
			<span class="ml-2 text-xs font-light whitespace-break-spaces w-0 leading-none"
				>{decode ? 'Decode' : 'Encode'} morse</span
			>
		</Switch>
	</svelte:fragment>

	<h1 slot="output">{solution}</h1>
</SolverBase>
