<script lang="ts">
	import SolverBase from '../solverBase.svelte';

	import { type availableReps, nrReps, textToNumber, numberToText } from '$ciphers/numbers';
	import { danishAlphabet } from '$ciphers/lookups/alphabets';
	import Textarea from '$utilComs/inputs/textarea.svelte';
	import Switch from '$utilComs/inputs/switch.svelte';
	import Radio from '$utilComs/inputs/radio.svelte';

	let delimiter = ' ';
	let cipherText = '';
	let alphabet = danishAlphabet;
	let currentNrRep: availableReps = nrReps[0];

	$: console.log(currentNrRep);

	let usingAscii = true;
	$: asciiSwitchText = usingAscii
		? 'Convert using ASCII/UTF-8'
		: 'Convert using numbering of alphabet';
	let decode = true;

	$: solution = decode
		? numberToText(cipherText.split(delimiter), currentNrRep, usingAscii ? '' : alphabet).join('')
		: textToNumber(cipherText, currentNrRep, usingAscii ? '' : alphabet).join(delimiter);
</script>

<SolverBase {cipherText} clearText={solution}>
	<svelte:fragment slot="input">
		<Textarea
			bind:value={alphabet}
			disabled={usingAscii}
			placeholder="abc..."
			title="The alphabet to loop through"
			type="text"
		/>

		<Switch bind:checked={usingAscii} title={asciiSwitchText} size="xl">
			<p class="ml-2 text-sm font-light">
				{asciiSwitchText}
			</p>
		</Switch>

		<hr class="border border-gray-300 my-12" />

		<Radio
			options={Object.fromEntries(nrReps.map((rep) => [rep, rep]))}
			name="representation"
			bind:value={currentNrRep}
		/>

		<hr class="border border-gray-300 my-12" />

		<Textarea bind:value={delimiter} title="String used as the delimiter" type="text" />

		<Textarea
			bind:value={cipherText}
			title="The cipher text to decode"
			placeholder="Insert cipher text here"
		/>

		<Switch bind:checked={decode} title="{decode ? 'Decode from' : 'Encode to'} morse" size="xl">
			<span class="ml-2 text-xs font-light whitespace-break-spaces w-0 leading-none"
				>{decode ? 'Decode numbers' : 'Encode text'}</span
			>
		</Switch>
	</svelte:fragment>

	<h1 slot="output">{solution}</h1>
</SolverBase>
