<script>
	import SolverBase from '../solverBase.svelte';

	import { solveShift, enumerateShift } from '$ciphers/shiftCiphers';
	import { danishAlphabet } from '$ciphers/lookups/alphabets';
	import Textarea from '$utilComs/inputs/textarea.svelte';
	import Switch from '$utilComs/inputs/switch.svelte';
	import Button from '$utilComs/inputs/button.svelte';

	let cipherText = '';
	let shiftCount = 3;
	let alphabets = [danishAlphabet];
	let enumerate = false;

	$: solution = enumerate
		? enumerateShift(cipherText, alphabets)
		: solveShift(cipherText, shiftCount, alphabets);
</script>

<SolverBase {cipherText} clearText={Array.isArray(solution) ? '' : solution}>
	<svelte:fragment slot="input">
		<Textarea
			title="Number of times to shift cipher text"
			disabled={enumerate}
			type="number"
			bind:value={shiftCount}
		/>

		<Switch bind:checked={enumerate} title="Loop over every possible shift value" size="xl">
			<p class="ml-2 text-sm font-light">Loop over every possible shift value</p>
		</Switch>

		<hr class="border border-gray-300 my-12" />

		<span class="text-xl font-light">Alphabet for shifting based on. Button for adding more</span>
		{#each alphabets as _, i}
			<Textarea title="" type="text" bind:value={alphabets[i]} />
		{/each}

		<Button
			title="Add more alphabets"
			content="+"
			disabled={enumerate}
			on:click={() => (alphabets = [...alphabets, ''])}
		/>

		<hr class="border border-gray-300 my-12" />

		<Textarea
			title="The cipher text to decode"
			placeholder="Insert cipher text here"
			bind:value={cipherText}
		/>
	</svelte:fragment>

	<svelte:fragment slot="output">
		{#if Array.isArray(solution)}
			<table>
				<tr>
					<th>Shift Count</th>
					<th>Solution</th>
				</tr>

				{#each solution as singleSolution}
					<tr>
						<td>{singleSolution.shiftCount}</td>
						<td>{singleSolution.clearText}</td>
					</tr>
				{/each}
			</table>
		{:else}
			<h1>{solution}</h1>
		{/if}
	</svelte:fragment>
</SolverBase>

<style lang="postcss">
	table {
		tr {
			th {
				@apply border border-gray-300;

				&:nth-child(2n) {
					@apply w-10/12 text-left;
				}
			}

			td {
				@apply border border-gray-200;

				&:nth-child(2n - 1) {
					@apply text-center;
				}
			}

			* {
				@apply p-2;
			}
		}

		tr:nth-child(2n) {
			@apply bg-gray-200;
		}
	}
</style>
