<script lang="ts">
	import SolverBase from '../solverBase.svelte';

	import {
		substitute as substitutionDecode,
		subLangs,
		createTableFromTemplate,
		createRandomTable
	} from '$ciphers/substitution';

	import { danishAlphabet } from '$ciphers/lookups/alphabets';
	import Textarea from '$utilComs/inputs/textarea.svelte';
	import Button from '$utilComs/inputs/button.svelte';
	import Select from '$utilComs/inputs/select.svelte';
	import { tick } from 'svelte';

	let cipherText = '';
	let alphabet = danishAlphabet;
	let substitutionTable: { [key: string]: string } = {};
	let currentTemplate: 'Danish' | 'English' | '' = '';

	$: solutions = substitutionDecode(substitutionTable, cipherText);

	let clearWord = '';
	let cipherWord = '';

	$: {
		clearSubTable();

		clearWord = clearWord.toLowerCase();
		cipherWord = cipherWord.toLowerCase();

		if (clearWord && cipherWord && clearWord.length === cipherWord.length) {
			for (let i = 0; i < clearWord.length; i++) {
				substitutionTable[cipherWord[i]] = clearWord[i];
			}
		}
	}

	function clearSubTable() {
		const newTable: { [key: string]: string } = {};

		for (let char of alphabet) {
			newTable[char] = '';
		}

		substitutionTable = newTable;
		currentTemplate = '';
	}

	function randomizeSubTable() {
		substitutionTable = createRandomTable(alphabet);
	}

	async function applyTemplate(microShuffle = false) {
		await tick();
		if (currentTemplate === '') return;

		alphabet = subLangs[currentTemplate].alphabet;
		substitutionTable = createTableFromTemplate(
			cipherText,
			subLangs[currentTemplate],
			microShuffle
		);
	}

	$: console.log(substitutionTable);
</script>

<SolverBase {cipherText} clearText={solutions.map((solution) => solution.clearChar).join('')}>
	<svelte:fragment slot="input">
		<Textarea
			title="Alphabet used for substition"
			placeholder="abc..."
			type="text"
			bind:value={alphabet}
		/>

		<Textarea title="The cipher text to decode" placeholder="abc..." bind:value={cipherText} />

		<h1 class="font-thin text-3xl text-center">Substitution Table</h1>

		<div class="grid grid-cols-5">
			{#each alphabet.split('') as letter}
				<label
					class="
            block
            text-xl font-mono mb-4
          "
				>
					{letter}:
					<input
						type="text"
						bind:value={substitutionTable[letter]}
						class="
              w-3/5 p-3
              border border-gray-300
            "
					/>
				</label>
			{/each}
		</div>

		<div class="dualColumn">
			<Textarea
				title="Part of ciphertext"
				placeholder="cipher-word"
				type="text"
				bind:value={cipherWord}
			/>
			<Textarea
				title="Corresponding cleartext"
				placeholder="clear-word"
				type="text"
				bind:value={clearWord}
			/>
		</div>

		<div class="dualColumn">
			<Button title="Clear substitution table" content="Clear" on:click={clearSubTable} />
			<Button title="Shuffle substitution table" content="Shuffle" on:click={randomizeSubTable} />
		</div>

		<div class="dualColumn">
			<Button
				title="Reset to template"
				content="Reset to template"
				on:click={() => applyTemplate()}
			/>
			<Button title="Micro shuffle" content="Micro Shuffle" on:click={() => applyTemplate(true)} />
		</div>

		<Select
			options={Object.fromEntries(Object.keys(subLangs).map((l) => [l, l]))}
			bind:value={currentTemplate}
			on:change={() => applyTemplate()}
		/>
	</svelte:fragment>

	<svelte:fragment slot="output">
		<h1>
			{#each solutions as { modified, clearChar, oldChar, index } (index)}
				<span title={oldChar} class={modified ? 'text-green-500' : 'text-red-500'}>{clearChar}</span
				>
			{/each}
		</h1>
	</svelte:fragment>
</SolverBase>

<style lang="postcss">
	.dualColumn {
		@apply w-full flex gap-8;

		:global(*) {
			@apply grow basis-0;
		}
	}
</style>
