<script>
	import SolverBase from '../solverBase.svelte';
	import Textarea from '$utilComs/inputs/textarea.svelte';
	import Switch from '$utilComs/inputs/switch.svelte';

	import { solveVigenere } from '$ciphers/shiftCiphers';
	import { danishAlphabet } from '$ciphers/lookups/alphabets';

	let key = '';
	let cipherText = '';
	let alphabet = danishAlphabet;
	let encrypt = false;

	$: solution = key ? solveVigenere(cipherText, key, alphabet, encrypt) : '';

	$: {
		let keyArray = [];
		for (let char of key) {
			if (alphabet.toLowerCase().includes(char.toLowerCase())) keyArray.push(char);
		}
		key = keyArray.join('');
	}
</script>

<SolverBase {cipherText} clearText={solution}>
	<svelte:fragment slot="input">
		<Textarea
			title="The alphabet used for {encrypt ? 'encryption' : 'decryption'}"
			type="text"
			bind:value={alphabet}
		/>

		<Textarea
			title="The key used for {encrypt ? 'encryption' : 'decryption'}"
			placeholder="Insert key here"
			type="text"
			bind:value={key}
		/>

		<Textarea
			title="The cipher text to {encrypt ? 'encode' : 'decode'}"
			placeholder="Insert cipher text here"
			bind:value={cipherText}
		/>

		<Switch
			bind:checked={encrypt}
			title="{encrypt ? 'Encrypt using' : 'Decrypt using'} vigenere"
			size="xl"
		>
			<span class="ml-2 text-xs font-light whitespace-break-spaces w-0 leading-none"
				>{encrypt ? 'Encode' : 'Decode'} text</span
			>
		</Switch>
	</svelte:fragment>

	<h1 slot="output">{solution}</h1>
</SolverBase>
