<script lang="ts">
	export let options: { [key: string]: string };
	export let name: string;
	export let value: string;
</script>

<section class="flex flex-col gap-2">
	{#each Object.entries(options) as [optionKey, optionValue]}
		<label
			class="
      p-4 cursor-pointer
      hover:bg-gray-500/5
    "
		>
			<input type="radio" {name} value={optionKey} class="hidden" bind:group={value} />
			<span
				class="
          font-light text-xl
          pl-10 relative
      ">{optionValue}</span
			>
		</label>
	{/each}
</section>

<style lang="postcss">
	span {
		&:before {
			content: '';
			@apply w-5 aspect-square
      block absolute
      top-1 left-0
      rounded-full
      border border-black/20;
		}

		&:after {
			content: '';
			@apply w-3 aspect-square
      block absolute
      top-2 left-1
      rounded-full
      bg-transparent
      scale-0 transition-all;
		}
	}

	input:checked + span:after {
		@apply scale-100 bg-red-500;
	}
</style>
