<script lang="ts">
	export let options: { [key: string]: string };
	export let value = Object.keys(options)[0];
</script>

<select on:change bind:value class="p-3 border border-gray-400 font-light cursor-pointer">
	{#each Object.entries(options) as [key, value]}
		<option value={key}>{value}</option>
	{/each}
</select>
