<script lang="ts">
	export let value: string | number | null = null;
	export let title: string;

	export let placeholder: string = '';
	export let disabled = false;

	export let type: 'area' | 'text' | 'number' = 'area';

	let internalClasses =
		'border border-gray-400 p-3 font-mono text-sm text-gray-600 disabled:text-gray-200';
</script>

<label class="flex flex-col">
	{#if title}
		<span class="text-xl font-light mb-4">{title}</span>
	{/if}

	{#if type === 'text'}
		<input type="text" bind:value {disabled} {placeholder} class={internalClasses} />
	{:else if type === 'number'}
		<input type="number" bind:value {disabled} {placeholder} class={internalClasses} />
	{:else if type === 'area'}
		<textarea {disabled} {placeholder} bind:value class="min-h-[15rem] {internalClasses}" />
	{/if}
</label>
