<script lang="ts">
	import '../app.css';
</script>

<main class="max-w-5xl min-w-[20rem] mx-auto flex flex-col gap-12 p-12">
	<slot />
</main>

<style lang="postcss">
	:global(body) {
		@apply bg-gray-200 h-screen w-screen overflow-auto;
	}
</style>
