<script lang="ts">
	import { solvers } from '$lib';
	import Box from '$utilComs/box.svelte';
</script>

{#each Object.entries(solvers) as [solver, { title }]}
	<a href={`/${solver}`}>
		<Box>
			<h1 class="font-light text-3xl">{title}</h1>
		</Box>
	</a>
{/each}
