<script lang="ts">
	let classes = '';
	export { classes as class };
</script>

<section
	class="
  w-full p-12
  flex flex-col
  bg-white border-2 border-gray-600

  shadow-blue-500 hover:shadow-lg
  transition-shadow

  {classes}
"
>
	<slot />
</section>
