<script lang="ts">
	import { slide } from 'svelte/transition';
	import { faAngleDown } from '@fortawesome/free-solid-svg-icons';

	import Fa from 'svelte-fa';

	export let title: string;
	export let open = true;
</script>

<button
	on:click={() => (open = !open)}
	class="
  py-4
  flex justify-between items-end
  border-b border-gray-300

  hover:border-black
  duration-300 transition-colors
"
>
	<h1 class="text-3xl font-thin">{title}</h1>
	<Fa
		icon={faAngleDown}
		class="
    text-xl text-gray-600
    transition-transform duration-300
    {open ? '' : '-rotate-90'}
  "
	/>
</button>

{#if open}
	<div transition:slide class="flex flex-col my-6 gap-6">
		<slot />
	</div>
{/if}
