<script lang="ts">
	import { Chart, LinearScale, BarController, BarElement, CategoryScale } from 'chart.js';
	import { afterUpdate, onDestroy } from 'svelte';

	Chart.register(LinearScale, BarController, BarElement, CategoryScale);

	export let data: { [key: string]: number };

	let ctx: HTMLCanvasElement;
	let currentChart: Chart | undefined;

	afterUpdate(() => {
		if (currentChart) currentChart.destroy();

		currentChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: Object.keys(data),
				datasets: [
					{
						label: '% of all characthers',
						data: Object.values(data),
						backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)'],
						borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)'],
						borderWidth: 1
					}
				]
			},
			options: {
				scales: {
					y: {
						beginAtZero: true,
						ticks: {
							callback: function (value, _, __) {
								return value + '%';
							}
						}
					}
				}
			}
		});
	});

	onDestroy(() => {
		currentChart?.destroy();
	});
</script>

<canvas bind:this={ctx} width="100" height="50" />
