<script lang="ts">
	import Box from '$utilComs/box.svelte';
	import Title from '$utilComs/title.svelte';
	import Chart from './chart.svelte';
	import Textarea from '$utilComs/inputs/textarea.svelte';

	import { countChars, summarizeCharCount } from '$lib/statistics';
	import { danishAlphabet } from '$ciphers/lookups/alphabets';

	export let cipherText: string;
	export let clearText: string;

	let alphabet = danishAlphabet;

	$: cipherTextSummary = summarizeCharCount(countChars(cipherText, alphabet));
	$: clearTextSummary = summarizeCharCount(countChars(clearText, alphabet));
</script>

<Box>
	<Title title="Input">
		<slot name="input" />
	</Title>
</Box>

<Box>
	<Title title="Output">
		<slot name="output" />
	</Title>
</Box>

<Box>
	<Title title="Statistics">
		<Textarea
			placeholder="abc..."
			title="Alphabet used for counting characthers"
			bind:value={alphabet}
			type="text"
		/>

		<hr class="border border-gray-300 my-12" />

		<h4 class="font-thin text-2xl text-center">Cipher-text summary</h4>
		<Chart data={cipherTextSummary} />

		{#if Object.keys(clearTextSummary).length > 0}
			<h4 class="font-thin text-2xl text-center">Clear-text summary</h4>
			<Chart data={clearTextSummary} />
		{/if}
	</Title>
</Box>
