<script lang="ts">
	import Box from '$utilComs/box.svelte';

	import { solvers } from '$lib/index';

	import type { LayoutData } from './$types';
	import { goto } from '$app/navigation';

	export let data: LayoutData;

	function changePage(e: any) {
		goto(`/${e.target.value}`);
	}
</script>

<Box>
	<select
		class="
      w-96 mx-auto py-4
      bg-transparent
      font-light text-2xl

      border-b-2 border-gray-200
      cursor-pointer

      hover:border-black
      transition-colors
    "
		on:change={changePage}
	>
		{#each Object.entries(solvers) as [name, { title }]}
			<option value={name} class="font-light text-lg" selected={name === data.solver.name}
				>{title}</option
			>
		{/each}
	</select>
</Box>
<slot />
